<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Used to display your training load from active minutes in Health.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Reps you log are saved as workouts to credit your exercise ring.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to show your local weather forecast.</string>
</dict>
</plist>
